@media print {
	h1 { font-size: 1.85em !important }
	h1, h1 a { color: var(--color) !important }
	/* Make phone number stick out more when printed */
	ul { margin-top: .7em; font-size: 1.7em !important }
	li.screen { display: none }
}

html, body { height: 100% }
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

pre { font-size: 1.7em }
pre a::after {
	position:absolute;
}

ul {
	display: flex;
	font-size: 1.2em;
}
li {
	margin: 0 1em;
	list-style-type: none;
}

/* Half-character offset for links with even number of characters */
.half {
	display: inline-block;
	margin: 0;
	transform: translate(-.3em);
}

li > a,
.text,
.projects,
.social,
.projects-social,
.email,
.here,
.email-here {
	transition: color .3s;
}

body {
	background-color: var(--background);
}

pre, ul {
	color: var(--color-faded);
}
h1 > a > strong {
	color: var(--color);
}

a,
a:visited { color: var(--color-faded) }

body:not([class^="hover-"]) li > a,
li > a:hover,
li > a:focus,
li > a:active {
	color: var(--color);
}

/* Section colors */
body:not([class^="hover-"]) .text {
	color: var(--color);
}
body:not([class^="hover-"]) pre > .projects,
body[class="hover-projects"] span.projects,
body[class="hover-projects"] a.projects:active,
body[class="hover-projects"] a.projects:focus,
body[class="hover-projects"] a.projects:hover,
body[class="hover-projects"] .projects-social {
	color: var(--color-projects);
}
body:not([class^="hover-"]) pre > .social,
body[class="hover-social"] span.social,
body[class="hover-social"] a.social:active,
body[class="hover-social"] a.social:focus,
body[class="hover-social"] a.social:hover,
body[class="hover-social"] span.projects-social {
	color: var(--color-social);
}

body:not([class^="hover-"]) pre > .email,
body[class="hover-email"] span.email,
body[class="hover-email"] a.email:active,
body[class="hover-email"] a.email:focus,
body[class="hover-email"] a.email:hover,
body[class="hover-email"] .email-here {
	color: var(--color-email);
}
body:not([class^="hover-"]) pre > .here,
body[class="hover-here"] span.here,
body[class="hover-here"] a.here:active,
body[class="hover-here"] a.here:focus,
body[class="hover-here"] a.here:hover,
body[class="hover-here"] .email-here {
	color: var(--color-here);
}
