@media print {
	h1 {
		font-size: 1.85em !important
	}

	h1,
	h1 a {
		color: var(--color) !important
	}

	/* Make phone number stick out more when printed */
	ul {
		margin-top: .7em;
		font-size: 1.7em !important
	}

	li.screen {
		display: none
	}

	.pronouns {
		/* Adjust translation since link icons aren't present */
		transform: translate(-.59em, -.4em) !important;
	}
}

html,
body {
	height: 100%
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

pre {
	font-size: 1.7em
}

pre a::after {
	position: absolute;
}

ul {
	display: flex;
	font-size: 1.2em;
}

li {
	margin: 0 1em;
	list-style-type: none;
}

/* Half-character offset for links with even number of characters */
.half {
	display: inline-block;
	margin: 0;
	transform: translateX(-.3em);
}

.pronouns {
	display: inline-block;
	margin: 0;
	transform: translate(-.49em, -.4em);
}

li>a,
.text,
.projects,
.github,
.email,
.bluesky {
	transition: color .3s;
}

body {
	background-color: var(--background);
}

pre,
ul {
	color: var(--color-faded);
}

h1>a>strong {
	color: var(--color);
}

a:any-link {
	color: var(--color-faded);
	outline-color: var(--color-faded);
}

body:not([class^="hover-"]) li>a,
li>a:any-link {
	color: var(--color);
	outline-color: var(--color);
}

/* Section colors */
body:not([class^="hover-"]) .text {
	color: var(--color);
}

body:not([class^="hover-"]) pre>.projects,
body[class="hover-projects"] span.projects,
body[class="hover-projects"] a.projects:any-link {
	color: var(--color-projects);
	outline-color: var(--color-projects);
}

body:not([class^="hover-"]) pre>.github,
body[class="hover-github"] span.github,
body[class="hover-github"] a.github:any-link {
	color: var(--color-github);
	outline-color: var(--color-github);
}

body:not([class^="hover-"]) pre>.email,
body[class="hover-email"] span.email,
body[class="hover-email"] a.email:any-link {
	color: var(--color-email);
	outline-color: var(--color-email);
}

body:not([class^="hover-"]) pre>.bluesky,
body[class="hover-bluesky"] span.bluesky,
body[class="hover-bluesky"] a.bluesky:any-link {
	color: var(--color-bluesky);
	outline-color: var(--color-bluesky);
}