:root {
	--background: #fff;
	--color: #333;
	--color-faded: #ccc;
	--color-projects: #a72;
	--color-email: #282;
	--color-github: #a33;
	--color-bluesky: #247;
	--link: #357;
	--link-visited: #737;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--background: #111;
		--color: #ddd;
		--color-faded: #777;
		--color-projects: #b83;
		--color-email: #393;
		--color-github: #b44;
		--color-bluesky: #47a;
		--link: #47a;
		--link-visited: #949;
	}
}

@page {
	/* Avoid having content cut off when printing */
	margin: 0;
}
@media print {
	#output-wrapper { display: none !important }
	#title {
		display: inline !important;
		visibility: visible !important;
	}
	a::after {
		display: none;
	}
}
@media (min-aspect-ratio: 3/2) {
	/* Always rely on vh when wide enough */
	body { font-size: 3.3vh !important }
}
@media (min-width: 900px), (min-height: 900px) {
	/* Shrink text down a bit on tablets/desktops */
	body { font-size: 2vmin !important }
}
@media not all and (color) {
	/* Display all text in black on non-color mediums */
	* { color: #000 !important }
}

/* see `fonts/OFL.txt` for license */
@font-face {
	font-family: source-code-pro;
	src: url('fonts/source-code-pro.ttf');
}
@font-face {
	font-family: source-code-pro;
	src: url('fonts/source-code-pro-italic.ttf');
	font-style: italic;
}

* {
	font-family: "source-code-pro", monospace;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
* + * { margin-top: 1em }
* + br { margin-top: 0 }
::selection {
	background-color: #000;
	color: #3c3;
}
@media screen and (prefers-color-scheme: dark) {
	::selection {
		color: #000;
		background-color: #3c3;
	}
}

body {
	margin-top: 0;
	font-size: 2.5vmin;
	background-color: var(--background);
	color: var(--color);
}

h1 {
	color: var(--color-faded);
}
h1 { font-size: 1.7em }

/* :visited needed to override rule in index.css */
h1, h1 a, h1 a:visited {
	font-weight: normal;
	color: var(--color-faded);
	white-space: nowrap;
}
h1 > a:active,
h1 > a:focus,
h1 > a:hover {
	text-decoration: none;
}
h1 > a:active .link-underline,
h1 > a:focus .link-underline,
h1 > a:hover .link-underline {
	text-decoration: underline;
}
h1 strong { color: var(--color) }
#cursor,
#title {
	white-space: pre;
}
@keyframes blink {
  from, to {
    color: var(--color-faded);
  }
  50% {
    color: transparent;
  }
}
#output-wrapper.init {
	display: inline;
	margin-top: 0;
}
#output {
	white-space: pre;
}
#cursor {
	margin-top: 0;
}
#cursor::selection {
	background: none;
	color: transparent;
}
#cursor.blinking {
  animation: 1.2s blink step-end infinite;
}
#cursor.hidden {
	color: transparent;
}
#output-wrapper.init + #title {
	visibility: hidden;
	display: none;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: var(--link);
}
a:visited {
	color: var(--link-visited);
}
a:active,
a:focus,
a:hover {
	text-decoration: underline;
}
a:active,
a:focus {
	outline: 1px dotted rgba(0, 100, 0, .8);
}
a[href^="mailto:"]::after {
	content: "\a0✉";
	margin-left: -.3em;
}
a[href^="tel:"]::after {
	content: "\a0✆";
	margin-left: -.3em;
}

a[href^="http://"]:not([href^="http://19.codes"])::after,
a[href^="https://"]:not([href^="https://19.codes"])::after {
	content: "\a0↗";
	margin-left: -.3em;
}
