@page {
	/* Avoid having content cut off when printing */
	margin: 0;
}
@media print {
	#output-wrapper { display: none !important }
	#title {
		display: inline !important;
		visibility: visible !important;
	}
}
@media (min-aspect-ratio: 3/2) {
	/* Always rely on vh when wide enough */
	body { font-size: 3.3vh !important }
}
@media (min-width: 900px) and (min-height: 600px) {
	/* Shrink text down a bit on tablets/desktops */
	body { font-size: 2vmin !important }
}
@media not all and (color) {
	/* Display all text in black on non-color mediums */
	* { color: #000 !important }
}

* {
	font-family: "source-code-pro", monospace;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
* + * { margin-top: 1em }
* + br { margin-top: 0 }
::-moz-selection {
	background: #000;
	color: #3c3;
}
::selection {
	background: #000;
	color: #3c3;
}

body {
	font-size: 2.5vmin;
	color: #333;
}

h1 {
	color: #ccc;
}
h1 { font-size: 1.7em }

h1, h1 a {
	font-weight: normal;
	color: #ccc;
	white-space: nowrap;
}
h1 > a:active,
h1 > a:focus,
h1 > a:hover {
	text-decoration: none;
}
h1 > a:active .link-underline,
h1 > a:focus .link-underline,
h1 > a:hover .link-underline {
	text-decoration: underline;
}
h1 strong { color: #333 }
#cursor,
#title {
	white-space: pre;
}
@keyframes blink {
  from, to {
    color: #ccc;
  }
  50% {
    color: transparent;
  }
}
#output-wrapper.init {
	display: inline;
	margin-top: 0;
}
#output {
	white-space: pre;
}
#cursor {
	margin-top: 0;
}
#cursor::-moz-selection {
	background: none;
	color: transparent;
}
#cursor::selection {
	background: none;
	color: transparent;
}
#cursor.blinking {
  animation: 1.2s blink step-end infinite;
}
#output-wrapper.init + #title {
	visibility: hidden;
	display: none;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #357;
}
a:visited {
	color: #737;
}
a:active,
a:focus,
a:hover {
	text-decoration: underline;
}
a:active,
a:focus {
	outline: 1px dotted rgba(0, 100, 0, .8);
}
